{% extends 'espaceClientBase.html.twig' %}
{% block body %}

	<main
		class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
		<!-- Navbar -->
		<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
			<div class="container-fluid py-1 px-3">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
						<li class="breadcrumb-item text-sm">
							<a class="opacity-5 text-dark" href="javascript:;">Pages</a>
						</li>
						<li class="breadcrumb-item text-sm text-dark active" aria-current="page">Dashboard</li>
					</ol>
					<h6 class="font-weight-bolder mb-0" style="color:brown"></h6>
				</nav>
				<div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">

					{% include 'espace_client/partail_/menu_haut.html.twig' %}

				</div>
			</div>
		</nav>
		<!-- End Navbar -->
		<div class="container-fluid py-4">

			<div class="row mb-4">
				{% include 'espace_client/partail_/symthese.html.twig' %}
			</div>

			<div class="row">
				<div class="col-12">

    <div class="container">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Modifier crypto</h6>
            </div>

            <div class="card-body">
                <form  action="{{ path('app_traitement_crypto')}}" method="Post" role="form text-left">
                <label class="form-check-label" for="flexCheckDefault" id="confirma">Renseigner correctement les champs</label>
                    <div class="row mb-3">
                        <div class="col-lg-6 col-xm-6">
                            <label class="form-check-label" for="flexCheckDefault">Id* </label>
                            <input type="text" class="form-control" placeholder="" aria-label="Name" value="{{crypto.ID}}" name="identifiant"  aria-describedby="email-addon" id="email">

                        </div>
                        <div class="col-lg-6 col-xm-6">

                            <label class="form-check-label" for="flexCheckDefault">Type * </label>
                            <input type="text" class="form-control" placeholder="" value="{{crypto.type}}" aria-label="Name" aria-describedby="email-addon" id="motant" name="type"  required="required">

                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-check-label" for="flexCheckDefault">Adresse * </label>
                        <input type="text" class="form-control" placeholder="" name="adresse"  value="{{crypto.adresse}}"  aria-label="Name" aria-describedby="email-addon" required="required">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2" id="ok">modifier</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>
			</div>



		</div>
	</main>

{% endblock %}
