 <div class="vertical-menu">

                <div data-simplebar class="h-100">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu list-unstyled" id="side-menu">
                            <li class="menu-title" data-key="t-menu">Menu</li>
                            <li>
                                <a href="{{ path('app_categorie_index') }}"  >
                                    <i class="fas fa-user"></i>
                                    <span data-key="t-dashboard">Categories</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('app_gestion_produit_index') }}"  >
                                    <i class="fas fa-user"></i>
                                    <span data-key="t-dashboard">Produit</span>
                                </a>
                            </li>

                            <li>
                                <a href="{{ path('app_blog_index') }}"  >
                                    <i class="fas fa-user"></i>
                                    <span data-key="t-dashboard">Blog</span>
                                </a>
                            </li>

                            <li>
                                <a href="{{ path('app_paramettre') }}"  >
                                    <i class="fas  fa-gears"></i>
                                    <span data-key="t-dashboard">Parametre</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- Sidebar -->
                </div>
            </div>
